<div class="mt-5">
    <div>This workshop is not a detailed guide on HTML, CSS and JavaScript, but an introduction to some of the tools beyond just these three. There are many, many, many good tutorials and classes out there on these basics - if you are interested in learning more, you need only Google!</div>
    <br>
    <div>However, I have some particular recommendations for those who are interested in learning more. My most important tip is to <b class="text-danger">learn by practising</b>. For most, this means finding ideas you are passionate about (and are also suitable for front-end/web development), and building them! Knowing the theory is well and good, but is not much if it you can't efficiently build things in practice. For more topics and resources to look at as well...</div>
    <br>
    <table class="table table-striped border border-dark-subtle">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Git/Version Control</td>
            <td>Version Control software like Git is essential for anyone working in software development - front-end or not. Version control allows you to freely experiment without the risk of losing previously working versions of code, and allows software to be built collaboratively between multiple people.</td>
        </tr>
        <tr>
            <td>GitHub Pages</td>
            <td>You can use GitHub pages to host static web pages for free! And just because it's static doesn't mean it can't do cool things... (see <a href="https://jajetloh.github.io/numerical-integrators-v4/" target="_blank">here</a> or <a href="https://jajetloh.github.io/parks-solver/" target="_blank">here</a>)</td>
        </tr>
        <tr>
            <td>Asynchronous Programming</td>
            <td>A different paradigm of programming from what you may be used to, but extremely important in front-end development, where you are dealing with human interactions, requests to servers, and potentially many combinations of strange behaviours. A good start is to understand <code>async/await</code> (e.g. from <a href="https://medium.com/@zellwk/an-introduction-to-javascripts-async-and-await-edb313356677" target="_blank">here</a>)</td>
        </tr>
        <tr>
            <td><a href="https://developer.chrome.com/docs/devtools/" target="_blank">Chrome DevTools</a></td>
            <td>Get familiar with your browser's developer tools! For Google Chrome, this is Chrome DevTools, but other browser will have similar tools. Knowing how to use browser developer tools is essential for efficiently debugging, testing and even prototyping web front-ends.</td>
        </tr>
        <tr>
            <td><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">A Complete Guide to Flexbox</a></td>
            <td>A comprehensive guide on how to use CSS Flex functionality - whether that's in plain CSS, or as part of a CSS framework. A solid understanding of how to use Flex will do wonders in helping you produce beautiful layouts.</td>
        </tr>
        <tr>
            <td><a href="https://www.youtube.com/@Fireship/videos" target="_blank">Fireship (YouTube channel)</a></td>
            <td>Short-form video content on all things development, but with emphasis on front-end development and related topics. I honestly find out about a lot of new and interesting frameworks, libraries, tools etc. from this channel. For starters on JavaScript Frameworks, I recommend <a href="https://youtu.be/Ata9cSC2WpM" target="_blank">Angular</a>, <a href="https://youtu.be/HyWYpM_S-2c" target="_blank">React (for the haters)</a> and <a href="https://youtu.be/nhBVL41-_Cw" target="_blank">Vue</a>.</td>
        </tr>
        </tbody>
    </table>
</div>
