<div class="mt-5">
    <h1 class="text-primary">Web Dev Crash Course</h1>
    <h5 class="text-secondary">by Ja-Jet Loh for <a class="link-secondary" href="https://visagio.com/en/home/" target="_blank">Visagio Australia</a></h5>
</div>


<div>
    After this workshop, you should:
    <ul>
        <li>Understand what Web Development is, and where and why it is used</li>
        <li>Have a basic understanding of many of the relevant concepts to building a basic front-end application</li>
        <li>Know how Javascript Frameworks, CSS Frameworks and Component Libraries can speed up the development process</li>
        <li>Be comfortable to continue learning about front-end application development on your own</li>
    </ul>
    <hr>
    Click on <b>Tutorial</b> in the navigation pane to begin!
</div>
